[ERS-1]
sensor = SAR
beam mode = STD
wavelength = 0.05656
look angle = 17.2
pixel size = 12.5
pixel count = 8192

[ERS-2]
sensor = SAR
beam mode = STD
wavelength = 0.05656
look angle = 17.2
pixel size = 12.5
pixel count = 8192

[RADARSAT]
sensor = SAR
beam mode = FN1
wavelength = 0.05656
look angle = 23.25
pixel size = 6.25
pixel count = 7500

[RADARSAT]
sensor = SAR
beam mode = ST5
wavelength = 0.05656
look angle = 20.25
pixel size = 12.5
pixel count = 8192

[RADARSAT]
sensor = SAR
beam mode = SWB
wavelength = 0.05656
look angle = 20.25
pixel size = 100.0
pixel count = 8192

[ALOS]
sensor = PALSAR
beam mode = FBS3
wavelength = 0.236
look angle = 20.25
pixel size = 12.5
pixel count = 8192
