Package: asf-mapready
Version:
Priority: optional
Section: science
Maintainer: Jenkins <uso@asf.alaska.edu>
Architecture: amd64
Depends: libc6, libgdk-pixbuf2.0-0, libglade2-0, libglib2.0-0, libgtk2.0-0, libjpeg-turbo8, libpango-1.0-0, libpng12-0, libxml2, zlib1g
Description: Terrain correct and geocode multi-pol SAR data.
 The MapReady Remote Sensing Tool Kit accepts level 1 detected SAR data, single
 look complex SAR data, and optical data from ASF and some other facilities. It
 can terrain correct, geocode, apply polarimetric decompositions to multi-pol
 SAR data, and save to several common imagery formats including GeoTIFF. Other
 software included in the package are an image viewer, metadata viewer, a
 projection coordinate converter, and a variety of command line tools.
Installed-Size:

