Package: asf-mapready
Version:
Priority: optional
Section: science
Maintainer: Jenkins <uso@asf.alaska.edu>
Architecture: 
Depends: libgdal20, libgtk2.0-0, libglade2-0, libtiff5, libgeotiff2, libcunit1, libproj12, libhdf5-100, libgsl2, libshp2, libfftw3-3
Description: Terrain correct and geocode multi-pol SAR data.
 The MapReady Remote Sensing Tool Kit accepts level 1 detected SAR data, single
 look complex SAR data, and optical data from ASF and some other facilities. It
 can terrain correct, geocode, apply polarimetric decompositions to multi-pol
 SAR data, and save to several common imagery formats including GeoTIFF. Other
 software included in the package are an image viewer, metadata viewer, a
 projection coordinate converter, and a variety of command line tools.
Installed-Size:

