# Configuration file for ADEOSdirmon
#
#    Subsystem                 FAIF
#    Subsystem release version R1Bprime
#    File version              1.0
#    File revision date        Thu Jan  4 10:14:39 PST 1996
# 
# SCCS Info:
#    File        = %M% 
#    Revision    = %R%
#    Date        = %G%
#    Last change = %W%
#    State       = %I%

FAIF_ROOTPATH    /ub/pps/faif/R1Bprime/test-driver/dirmonMain
ADEOS_LOGFILE    /ub/pps/faif/R1Bprime/test-driver/dirmonMain/log/ADEOSdirmon.log
 
ADEOS_REQR_RDIR ADEOS
ADEOS_RDRD_RDIR ADEOS
ADEOS_ELMD_RDIR ADEOS
ADEOS_ELMP_RDIR ADEOS
ADEOS_OPL1_RDIR ADEOS
ADEOS_RPLN_RDIR ADEOS
ADEOS_ORST_RDIR ADEOS
ADEOS_STAD_RDIR ADEOS
ADEOS_TMDF_RDIR ADEOS

ADEOS_REQR_DDIR /ub/pps/faif/R1Bprime/test-driver/dirmonMain/ADEOS/archive/reqr
ADEOS_RDRD_DDIR /ub/pps/faif/R1Bprime/test-driver/dirmonMain/ADEOS/archive/rdrd
ADEOS_ELMD_DDIR /ub/pps/faif/R1Bprime/test-driver/dirmonMain/ADEOS/archive/elmd
ADEOS_ELMP_DDIR /ub/pps/faif/R1Bprime/test-driver/dirmonMain/ADEOS/archive/elmp
ADEOS_OPL1_DDIR /ub/pps/faif/R1Bprime/test-driver/dirmonMain/ADEOS/archive/opl1
ADEOS_RPLN_DDIR /ub/pps/faif/R1Bprime/test-driver/dirmonMain/ADEOS/archive/rpln
ADEOS_ORST_DDIR /ub/pps/faif/R1Bprime/test-driver/dirmonMain/ADEOS/archive/orst
ADEOS_STAD_DDIR /ub/pps/faif/R1Bprime/test-driver/dirmonMain/ADEOS/archive/stad
ADEOS_TMDF_DDIR /ub/pps/faif/R1Bprime/test-driver/dirmonMain/ADEOS/archive/tmdf

PHASE_START          1992:073:00:49:40.000
PHASE_REVS           28996
PHASE_LASTREV        29459
PHASE_CYCLEDAYS      44
PHASE_CYCLEREVS      659

IMS_DEV          IMSDEV
IMS_DB           test_catalog
IMS_USERNAME     faif_clnt
IMS_PASSWD       faif_clnt
IMS_ACCT_ID      ACCT_FAIF
