# Configuration file for ADEOSrcpt
#
#    Subsystem                 FAIF
#    Subsystem release version R1Bprime
#    File version              1.0
#    File revision date        Thu Jan  4 10:14:39 PST 1996
# 
# SCCS Info:
#    File        = %M% 
#    Revision    = %R%
#    Date        = %G%
#    Last change = %W%
#    State       = %I%

FAIF_ROOTPATH    /local/faif
ADEOS_OP_USER    norbert
ADEOS_OUTDIR     /ub/pps/faif/toADEOS
ADEOS_MAIL_SCRIPT mails.csh
