# Configuration file for CSAgetfile
#
#    Subsystem                 FAIF
#    Subsystem release version R1Bprime
#    File version              1.0
#    File revision date        Thu Jan  4 10:14:39 PST 1996
# 
# SCCS Info:
#    File        = %M% 
#    Revision    = %R%
#    Date        = %G%
#    Last change = %W%
#    State       = %I%

FAIF_ROOTPATH  /ub/pps/faif/R1Bprime/test-driver/CSAgetfile
CSA_LOGFILE    /ub/pps/faif/R1Bprime/test-driver/CSAgetfile/log/CSAgetfile.log
CSA_SRCHOST    cogito
CSA_GET_SCRIPT CSA_ftpget.csh

CSA_RSH_SDIR   mcs_to_ufdrf_f
CSA_PORB_SDIR  mcs_to_ufdrf_f
CSA_DORB_SDIR  mcs_to_ufdrf_f

CSA_RSH_RDIR   CSA_got
CSA_PORB_RDIR  CSA_got
CSA_DORB_RDIR  CSA_got

CSA_RSH_DDIR   /ub/pps/faif/R1Bprime/test-driver/CSAgetfile/CSA_dest
CSA_PORB_DDIR  /ub/pps/faif/R1Bprime/test-driver/CSAgetfile/CSA_dest
CSA_DORB_DDIR  /ub/pps/faif/R1Bprime/test-driver/CSAgetfile/CSA_dest

# ims_archive program config file

IMS_DEV          IMSDEV
IMS_DB           test_catalog
IMS_USERNAME     faif_clnt
IMS_PASSWD       faif_clnt
IMS_ACCT_ID      ACCT_FAIF
