# Configuration file for ESAdirmon
#
#    Subsystem                 FAIF
#    Subsystem release version R1Bprime
#    File version              1.0
#    File revision date        Thu Jan  4 10:14:39 PST 1996
# 
# SCCS Info:
#    File        = %M% 
#    Revision    = %R%
#    Date        = %G%
#    Last change = %W%
#    State       = %I%

FAIF_ROOTPATH    /ub/pps/faif/R1Bprime/test-driver/dirmonMain
ESA_LOGFILE      /ub/pps/faif/R1Bprime/test-driver/dirmonMain/log/ESAdirmon.log
 
ESA_ORPD_RDIR  ESA
ESA_ORRE_RDIR  ESA
ESA_ODMC_RDIR  ESA
ESA_ODMR_RDIR  ESA
ESA_SHAQ_RDIR  ESA
ESA_RQST_RDIR  ESA
ESA_PATC_RDIR  ESA
ESA_RQVR_RDIR  ESA
ESA_MPSG_RDIR  ESA

ESA_ORPD_DDIR /ub/pps/faif/R1Bprime/test-driver/dirmonMain/ESA/ACS_ESAIN
ESA_ORRE_DDIR /ub/pps/faif/R1Bprime/test-driver/dirmonMain/ESA/ACS_ESAIN
ESA_ODMC_DDIR /ub/pps/faif/R1Bprime/test-driver/dirmonMain/ESA/ACS_ESAIN
ESA_ODMR_DDIR /ub/pps/faif/R1Bprime/test-driver/dirmonMain/ESA/ACS_ESAIN
ESA_SHAQ_DDIR /ub/pps/faif/R1Bprime/test-driver/dirmonMain/ESA/ACS_ESAIN
ESA_RQST_DDIR /ub/pps/faif/R1Bprime/test-driver/dirmonMain/ESA/ACS_ESAIN
ESA_PATC_DDIR /ub/pps/faif/R1Bprime/test-driver/dirmonMain/ESA/ACS_ESAIN
ESA_RQVR_DDIR /ub/pps/faif/R1Bprime/test-driver/dirmonMain/ESA/ACS_ESAIN
ESA_MPSG_DDIR /ub/pps/faif/R1Bprime/test-driver/dirmonMain/ESA/ACS_ESAIN
 
IMS_DEV          IMSDEV
IMS_DB           test_catalog
IMS_USERNAME     faif_clnt
IMS_PASSWD       faif_clnt
IMS_ACCT_ID      ACCT_FAIF