# Configuration file for FAxmitserver
#
#    Subsystem                 FAIF
#    Subsystem release version R1Bprime
#    File version              1.0
#    File revision date        Thu Jan  4 10:14:39 PST 1996
# 
# SCCS Info:
#    File        = %M% 
#    Revision    = %R%
#    Date        = %G%
#    Last change = %W%
#    State       = %I%

CSA_HOSTADDR   mcs_vdn
WALPS_HOSTADDR cogito
ESA_HOSTADDR   cogito
NASDA_HOSTADDR cogito
ADEOS_OP_USER  faif
 
ESA_TRANSFER_CMD   FAIF_UNIX_ftpsend.csh
NASDA_TRANSFER_CMD   FAIF_UNIX_ftpsend.csh
CSA_TRANSFER_CMD   FAIF_UNIX_ftpsend.csh
WALPS_TRANSFER_CMD FAIF_UNIX_ftpsend.csh

CSA_ASR_EDIR   ufdroc_1_to_mcs
CSA_RRP_EDIR   ufdrf_f_to_mcs
CSA_RAR_EDIR   ufdrf_f_to_mcs
CSA_CRP_EDIR   ufcal_1_to_mcs
CSA_CAR_EDIR   ufcal_1_to_mcs
CSA_RRP_M_EDIR ufdrf_m_to_mcs
CSA_RAR_M_EDIR ufdrf_m_to_mcs
CSA_CRP_M_EDIR ufcal_2_to_mcs
CSA_CAR_M_EDIR ufcal_2_to_mcs
 
WALPS_WOS_EDIR   radarsat
WALPS_STVEC_EDIR radarsat
WALPS_AREQ_EDIR  radarsat

ADEOS_STGS_EDIR  /local/faif/ADEOS
ADEOS_REAC_EDIR  /local/faif/ADEOS
ADEOS_SRRD_EDIR  /local/faif/ADEOS

