# Configuration file for NASDAdirmon
#
#    Subsystem                 FAIF
#    Subsystem release version R1Bprime
#    File version              1.0
#    File revision date        Thu Jan  4 10:14:39 PST 1996
# 
# SCCS Info:
#    File        = %M% 
#    Revision    = %R%
#    Date        = %G%
#    Last change = %W%
#    State       = %I%

FAIF_ROOTPATH    /ub/pps/faif/R1Bprime/test-driver/dirmonMain
NASDA_LOGFILE    /ub/pps/faif/R1Bprime/test-driver/dirmonMain/log/NASDAdirmon.log
 
NASDA_ELMF_RDIR NASDA
NASDA_OPLN_RDIR NASDA
NASDA_REQA_RDIR NASDA
NASDA_REQM_RDIR NASDA
NASDA_MSGC_RDIR NASDA
NASDA_MSGN_RDIR NASDA

NASDA_ELMF_DDIR /ub/pps/faif/R1Bprime/test-driver/dirmonMain/NASDA/dest
NASDA_OPLN_DDIR /ub/pps/faif/R1Bprime/test-driver/dirmonMain/NASDA/dest
NASDA_REQA_DDIR /ub/pps/faif/R1Bprime/test-driver/dirmonMain/NASDA/dest
NASDA_REQM_DDIR /ub/pps/faif/R1Bprime/test-driver/dirmonMain/NASDA/dest
NASDA_MSGC_DDIR /ub/pps/faif/R1Bprime/test-driver/dirmonMain/NASDA/dest
NASDA_MSGN_DDIR /ub/pps/faif/R1Bprime/test-driver/dirmonMain/NASDA/dest
 
PHASE_START          1992:073:00:49:40.000
PHASE_REVS           28996
PHASE_DAYS           1936
PHASE_LASTREV        29459
PHASE_CYCLEDAYS      44
PHASE_CYCLEREVS      659

#
# ims_archive program config file

IMS_DEV          IMSDEV
IMS_DB           test_catalog
IMS_USERNAME     faif_clnt
IMS_PASSWD       faif_clnt
IMS_ACCT_ID      ACCT_FAIF
