# Configuration file for startCSAFAIF
#
#    Subsystem                 FAIF
#    Subsystem release version R1Bprime
#    File version              1.0
#    File revision date        Thu Jan  4 10:14:39 PST 1996
# 
# SCCS Info:
#    File        = %M% 
#    Revision    = %R%
#    Date        = %G%
#    Last change = %W%
#    State       = %I%

FAIF_ROOTPATH /local/faif
CSA_CTABFILE  /local/faif/config/FAIF.crontab

CSA_PORB_INT  30
CSA_DORB_INT  30
CSA_RRQ_INT   30
CSA_RSH_INT   30
CSA_CRQ_INT   30
CSA_CSH_INT   30
CSA_SARPP_INT 30
CSA_RRQ_M_INT 30
CSA_RSH_M_INT 30
CSA_CRQ_M_INT 30
CSA_CSH_M_INT 30
 
