# Configuration file for WALPSdirmon
#
#    Subsystem                 FAIF
#    Subsystem release version R1Bprime
#    File version              1.0
#    File revision date        Thu Jan  4 10:14:39 PST 1996
# 
# SCCS Info:
#    File        = %M% 
#    Revision    = %R%
#    Date        = %G%
#    Last change = %W%
#    State       = %I%

FAIF_ROOTPATH    /ub/pps/faif/R1Bprime/test-driver/dirmonMain
WALPS_LOGFILE    /ub/pps/faif/R1Bprime/test-driver/dirmonMain/log/WALPSdirmon.log
 
WALPS_ARESP_RDIR WALPS
WALPS_DT_RDIR    WALPS
WALPS_SRPT_RDIR  WALPS
 
WALPS_ARESP_DDIR /ub/pps/faif/R1Bprime/test-driver/dirmonMain/WALPS/dest
WALPS_DT_DDIR    /ub/pps/faif/R1Bprime/test-driver/dirmonMain/WALPS/dest
WALPS_SRPT_DDIR  /ub/pps/faif/R1Bprime/test-driver/dirmonMain/WALPS/dest

#
# ims_archive program config file

IMS_DEV          IMSDEV
IMS_DB           test_catalog
IMS_USERNAME     faif_clnt
IMS_PASSWD       faif_clnt
IMS_ACCT_ID      ACCT_FAIF
