[ERS-1]
sensor = SAR
beam mode = STD
wavelength = 0.05656
look angle = 17.2
pixel size = 12.5
pixel count = 8192

[ERS-2]
sensor = SAR
beam mode = STD
wavelength = 0.05656
look angle = 17.2
pixel size = 12.5
pixel count = 8192

[RADARSAT]
sensor = SAR
beam mode = FN1
wavelength = 0.05656
look angle = 32.2
pixel size = 6.25
pixel count = 8192

[RADARSAT]
sensor = SAR
beam mode = FN2
wavelength = 0.05656
look angle = 34.3
pixel size = 6.25
pixel count = 8192

[RADARSAT]
sensor = SAR
beam mode = FN3
wavelength = 0.05656
look angle = 36.1
pixel size = 6.25
pixel count = 8192

[RADARSAT]
sensor = SAR
beam mode = FN4
wavelength = 0.05656
look angle = 37.8
pixel size = 6.25
pixel count = 8192

[RADARSAT]
sensor = SAR
beam mode = FN5
wavelength = 0.05656
look angle = 39.3
pixel size = 6.25
pixel count = 8192

[RADARSAT]
sensor = SAR
beam mode = ST1
wavelength = 0.05656
look angle = 17.3
pixel size = 12.5
pixel count = 8192

[RADARSAT]
sensor = SAR
beam mode = ST2
wavelength = 0.05656
look angle = 21.3
pixel size = 12.5
pixel count = 8192

[RADARSAT]
sensor = SAR
beam mode = ST3
wavelength = 0.05656
look angle = 27.3
pixel size = 12.5
pixel count = 8192

[RADARSAT]
sensor = SAR
beam mode = ST4
wavelength = 0.05656
look angle = 29.5
pixel size = 12.5
pixel count = 8192

[RADARSAT]
sensor = SAR
beam mode = ST5
wavelength = 0.05656
look angle = 31.9
pixel size = 12.5
pixel count = 8192

[RADARSAT]
sensor = SAR
beam mode = ST6
wavelength = 0.05656
look angle = 36.3
pixel size = 12.5
pixel count = 8192

[RADARSAT]
sensor = SAR
beam mode = ST7
wavelength = 0.05656
look angle = 38.8
pixel size = 12.5
pixel count = 8192

[RADARSAT]
sensor = SAR
beam mode = SWA
wavelength = 0.05656
look angle = 17.1
pixel size = 100.0
pixel count = 8192

[RADARSAT]
sensor = SAR
beam mode = SWB
wavelength = 0.05656
look angle = 17.1
pixel size = 100.0
pixel count = 8192

[RADARSAT]
sensor = SAR
beam mode = SNA
wavelength = 0.05656
look angle = 17.1
pixel size = 100.0
pixel count = 8192

[RADARSAT]
sensor = SAR
beam mode = SNB
wavelength = 0.05656
look angle = 26.5
pixel size = 100.0
pixel count = 8192

[ALOS]
sensor = PALSAR
beam mode = FBS3
wavelength = 0.236
look angle = 20.25
pixel size = 12.5
pixel count = 8192
